{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Total Quantity</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Product Names</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in panierData %}
            <tr>
                <td>{{ item.totalQuant }}</td>
                <td>{{ item.totalPrice }}</td>
                <td>{{ item.status ? 'client' : 'association' }}</td>
                <td>
                    {% for product in item.products %}
                        {{ product.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_panier_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_panier_edit', {'id': item.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
                                                <li class="nav-item active"><a href="{{path('app_commande_new', {'id': 1})}}" class="nav-link">Confirmation</a></li>

        </tbody>
    </table>
{% endblock %}
