{% extends 'baseback.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table mt-4">
        <thead class="bg-light">
            <tr>
              
                <th>Type</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                
                <td>{{ categorie.type }}</td>
                <td><img src=" {{asset(categorie.image) }}" class="rounded img-fluid" width="50px" height="50px"></td>
                <td>
                    <a class="btn btn-secondary py-1 px-1" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a class="btn btn-info py-1 px-3" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                                        
 {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary py-1 px-1" href="{{ path('app_categorie_new') }}">Create new</a>
    

{% endblock %}
