<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Details</title>
</head>
<body>

<h1>Book</h1>

<p>Title of Book :{{ d.name }}</p>
<p>Publication date : {{ d.email }}</p>
<p>Author : {{ d.password }}</p>
<p>category :{{ d.cin }}</p>
<p>category :{{ d.phone }}</p>
<p>category :{{ d.image }}</p>
<p>category :{{ d.role}}</p>


</body>
</html>
