{% extends 'base1.html.twig' %}

{% block body %}

<title>New Article</title>

    <h1> Ajouter Article</h1>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
	<form >
		                	<div class="page-content">
            	<div class="checkout">
	                <div class="container"><div class="row">
		                		<div class="col-lg-9">
		                				<div class="row">
		                					
					    {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'control-label text-left font-weight-bold text-primary col-md-3'}}) }}
                        {{ form_widget(form.titre, { 'attr': {'class':'form-control','type':"text"} }) }}
						{{ form_errors(form.titre) }}

                       {{ form_label(form.description, 'Description', {'label_attr': {'class': 'control-label text-left font-weight-bold text-primary col-md-3'}}) }}
                       {{ form_widget(form.description, { 'attr': {'class':'form-control','type':"text",'rows': 5,"cols":30, "maxlength": null} }) }}
					   {{ form_errors(form.description) }}

						
						{{ form_label(form.imageFile,'image Topic :', {'label_attr': {'class': 'control-label text-left font-weight-bold text-primary col-md-3'}}) }}
						{{ form_widget(form.imageFile) }}
						{{ form_row(form._token) }}

						<div class="card-footer bg-light">
							<div class="form-actions">
								<div class="row">
									<div class="col-md-12">
										<button type="Submit" class="btn btn-primary btn-rounded">Ajouter </button>
										<button class="btn btn-secondary clear-form btn-rounded btn-outline">Annuler</button>
									</div>
								</div>
							</div>
						</div>
					</div><!-- End .row -->
				</div><!-- End .col-lg-9 -->
			</div>
		</div><!-- End .container -->
	</div><!-- End .checkout -->
</div><!-- End .page-content -->

            			</form>
						{{ form_rest(form) }}
						 {{form_end(form)}}
{% endblock %}
